
body{
    background-image: url(img/giphy.gif);
    background-repeat: repeat;
}
    
/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
        margin-bottom: 50px;
        border-radius: 0;
      }
      
      /* Remove the jumbotron's default bottom margin */ 
       .jumbotron {
        margin-bottom: 0;
      }
     
      /* Add a gray background color and some padding to the footer */
      footer {
        background-color: #f2f2f2;
        padding: 25px;
      }
      .panel-body{
          max-width: 80%;
          max-height: 80%;
          
      }
.jumbotron{
    background-image: url(img/header-image-1-2\ \(1\).png);
    color: white;
}
h2{
  color: white;
}
h3{
  color: white;
  font-size: large;
}
h4{
  font-size: xx-large;
}
#text{
  border-radius: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
  background:rgba(0, 255, 0, 0.500);
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;

  padding: 20px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(0, 59, 0);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}